<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<select id="checkUserIdExist" parameterType = "java.lang.String" resultType = 'java.lang.String'>
		<![CDATA[
			select user_name
			from user_table
			where user_id = #{user_id}
		]]>
	</select>
	
	<insert id="addUserInfo" parameterType = "kr.co.beans.UserBean">
		<![CDATA[
			insert into user_table (user_idx, user_name, user_id, user_pw)
			values (user_seq.nextval, #{user_name}, #{user_id}, #{user_pw}))
		]]>
	</insert>
	
	<select id="getLoginUserInfo" parameterType = "kr.co.beans.UserBean" resultType = 'kr.co.beans.UserBean'>
		<![CDATA[
			select user_idx user_name
			from user_table
			where user_id=#{user_id} and user_pw=#{user_pw}
		]]>
	</select>
	
	<select id="getModifyUserInfo" parameterType = "java.lang.Integer" resultType = 'kr.co.beans.UserBean'>
		<![CDATA[
			select user_id, user_name 
			from user_table
			where user_idx = #{user_idx}
		]]>
	</select>
	
	<update id="modifyUserInfo" parameterType="kr.co.beans.UserBean">
		<![CDATA[
			update user_table
			set user_pw = #{user_pw} 
			where user_idx = #{user_idx}
		]]>
	</update>
</mapper>